<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layout/main.html">
<div layout:fragment="productsContent" class="mb-2">
    <div class="row mt-3">
        <div class="col-6 mx-auto">
            <h3>HELLO</h3>
            <form th:action="@{'/logout'}">
                <div class="row">
                    <div class="col-12 p-3 mt-3 mb-3">
                        <button class="btn btn-success">SIGN OUT</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</html>